# Ignore everything in the directory
logs/*
data/*

# But don't ignore the directory itself
!logs/
!logs/.gitkeep
!data/
!data/.gitkeep
!config/
!config/template.json
# Ignore the the directory and everything under it
venv/
__pycache__/
