{
    "twitter_consumer_key": "<key>",
    "twitter_consumer_secret": "<secret>",
    "twitter_access_token": "<token>",
    "twitter_access_token_secret": "<secrect>",
    "gemini_api": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key",
    "gemini_api_key": "<key>",
    "gemini_prompt": "Give a quote from Star Wars movie. This quote has to be less  than 250 characters in length",
    "quote_prefix": "🤖 ",
    "quote_suffix": "\n#StarWars #MovieQuotes https://bit.ly/3Uj0vI4",
    "db_file": "/home/adabalap/Source/SocialMediaBot/quotes_data.db",
    "log_file": "/home/adabalap/Source/SocialMediaBot/SocialMediaBot.log",
    "wp_url": "https://adabala.com/xmlrpc.php",
    "wp_username": "<usr>",
    "wp_password": "<passwd>",
    "wp_category": "quotes",
    "whatsapp_api_url": "https://waha.adabala.com/api/sendText",
    "whatsapp_api_key": "<key>",
    "whatsapp_chat_id": "<char id>",
    "send_to_twitter": "yes",
    "send_to_wordpress": "yes",
    "send_to_whatsapp": "yes",
    "logging_level": "INFO",
    "max_gemini_attempts": 10
}
